.nav-link {
    outline: none;
}

.container {
	padding-top: 10%;
}

.file-list {
	padding: 20px;
	margin: 20px;
	border: 0;
	border-radius: 0.5rem;
	box-shadow: 0 2px 6px 0
	hsla(0, 0%, 0%, 0.2)
}

p {
	margin: 1rem !important;
}

.custom-margin {
	margin: 20px
}

.image-block {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 5% 0 0 0;
}

.eias-image {
	max-width: 40vw;
}

.checkbox-block {
	padding-top: 1.25rem;
}
