.nav-link {
    outline: none;
}

.container {
	padding-top: 10%;
}

.small-padding {
	padding-top: 5%;
}

.file-list {
	padding: 20px;
	margin: 20px;
	border: 0;
	border-radius: 0.5rem;
	box-shadow: 0 2px 6px 0
	hsla(0, 0%, 0%, 0.2)
}

p {
	margin: 1rem !important;
}

.custom-margin {
	margin: 20px
}

.image-block {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 5% 0 0 0;
}

.eias-image {
	max-width: 40vw;
}

.checkbox-block {
	padding-top: 1.25rem;
}

.description {
	color: hsl(0, 0%, 45%);
}

.basic-multi-select {
	padding-top: 10px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 69px;
  height: 69px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #5294e2;
  border-color: #5294e2 transparent #5294e2 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.downloadFiles {
  list-style-type: none;
}

.downloadFiles li {
	display: flex;
	justify-content: center;
	padding: 3rem;
}

.download-button {
	padding: 1rem 5rem !important;
}
